.info{
	background-color: $dark-bg;
	// height: 120px;
	// position: relative;

	h1{
		text-align: center;
		color: #fff;
		margin: auto;
		@media (min-width: 1200px){
			white-space: nowrap;
		}
		// position: absolute;
		// top: 50%;
		// transform: translateY(-50%);

		span{
			font-weight: bold;
		}
	}
}