.partners{
	img{
		width: 85%;
		margin: 30px auto;
	}

	.logo-sprite {
		background: white url(../images/client-logos.png);
		height: 130px;
		width: 200px;
		margin: 15px auto;
	}

	[class*="col-"]:nth-child(-n+4) .logo-sprite { margin-top: 0;}
	[class*="col-"]:nth-child(n+5) .logo-sprite { margin-bottom: 0;}
	
	.google { background-position: 0 0; }
	.bootstrap { background-position: -200px 0; }
	.behance { background-position: -400px 0; }
	.github { background-position: -600px 0; }
	.shopify { background-position: 0 -130px; }
	.wordpress { background-position: -200px -130px; }
	.jquery { background-position: -400px -130px; }
	.bitbucket { background-position: -600px -130px; }
}